
* {
    margin: 0;
}

.form-add-atr {
    margin: 70px auto;
    height: 500px;
    width: 750px;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 20px;
    position: relative;
    background-color: white;
}

.content {
    height: 100vh;
    width: 80%;
    float: right;
    background-color: #f35454;
}

.form-input {
    background-color: #dacfcf;
    border-radius: 15px;
    text-decoration: none;
    position: absolute;
    top: 50px;
    height: 30px;
    width: 300px;
    left: 40px;


}

.style-all-button {
    border: 2px #ffffff solid;
    transition: all .3s;
}
.text-con {
    height: 100%;
    width: 50%;
    float: right;

}

.text-input {
    margin: 12px 15px;
    height: 90%;
    width: 85%;
    border-radius: 15px;
    padding: 10px;
    background-color: #dacfcf;
}

.style-all-button:focus {
    outline: none;
    border: 2px #7777d7 solid;
}


.form-button {
    color: white;
    border-radius: 15px;
    background-color: #f35454;
    border: 3px solid #f35454;
    transition: all .4s;
    height: 40px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 110px;

}


.form-button:hover {
    background-color: white;
    color: #6c93e7;
}


.file-input {
    color: white;
    background-color: #6c93e7;
    border-radius: 15px;
    position: absolute;
    top: 150px;
    left: 40px;
    height: 30px;
}

